//system-colors
:root {
  --bg-main: #19191b;
  --bg-blur: rgb(17, 17, 20, 0.3);
  --popup-bg: #1C1C1E;
  --line: #39383E;
  --line-transparent: rgb(57, 56, 62, 0.7);
  --line-border: #55535C;
  --text-color: #FCFDFF;
  --accent: #B9B9B9;
}

[data-theme="light"] {
  --bg-main: #eeebeb;;
  --bg-blur: hsla(202, 89%, 91%, 0.3);
  --popup-bg: hsla(200, 64%, 96%, 0.9);
  --line: hsla(200, 8%, 88%, 0.7);
  --line-transparent: hsla(200, 21%, 88%, 0.5);
  --line-border: hsl(200, 5%, 53%);
  --text-color: #030302;
  --accent: hsla(200, 5%, 53%, 0.9);
}

//card-colors
$red: #FF463A;
$orange: #FE9F07;
$yellow: #FFD409;
$green: #2ED15C;
$light-blue: #79C3FF;
$blue: #0A84FF;
$slate-blue: #5D5CE6;
$rose: #FF4E78;
$purple: #D47FF6;
$golden-yellow: #CAA473;
$grey: #747E8A;
$pink: #EBB4AF;