@import "../../styles/variables";

.Goal {
  max-width: 300px;
  height: 200px;
  background-color: $line-transparent;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px 16px;
  .top-content {
    display: flex;
    justify-content: space-between;
    margin: 0 4px;
    .percents {
      color: $text-color;
    }
    .settings {
      cursor: pointer;
      color: $bg-main;
    }
  }
  .bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bottom-left {
      .description {
        color: $text-color;
      }
      .progress {
        color: $text-color;
      }
    }
    .button-plus {
      all: unset;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $line-transparent;
      stroke: $grey;
    }
  }
  .progress-bar {
      position: relative;
      height: 4px;
      width: 150px;
    }
}