@import "../../styles/variables";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  padding: 0 40px;

  h1 {
    color: $text-color;
    font-weight: 400;
    font-size: 64px;
  }

  .add-button{
    all: unset;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 15px;
    border: 1px solid $text-color;
  }
}